body {
  background: #2c2c2c;
  font-family: "Comic Sans MS", sans-serif;
  color: #fff;
  overflow: hidden;
}
button {
  cursor: pointer;
  padding: 10px;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  outline: none;
}
button:hover {
  background-color: #fff;
  color: #1c1c1c;
}
p {
  margin: 0;
}
input[type="text"], input[type="number"] {
  background: #1c1c1c;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
}
select {
  outline: none;
  background: #1c1c1c;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
}

/* global */

.no-margin {
  margin: 0;
}
.default-margin {
  margin: 20px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}

/* index */

.start-header {
  text-align: center;
}
.start-header img {
  display: inline;
  width: 50px;
  vertical-align: middle;
}
.start-header span {
  font-size: 50px;
  vertical-align: middle;
  color: #fff;
}
#startError {
  color: #fc535e;
  text-align: center;
}

/* settings */

.settings-loading * {
  display: inline;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
}
.settings-left {
  position: absolute;
  top: 0; left: 0;
  padding: 20px;
  background-color: #1c1c1c;
  width: 220px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}
.settings-left::-webkit-scrollbar {
  width: 10px;
}
.settings-left::-webkit-scrollbar-track {
  background: #3c3c3c;
}
.settings-left::-webkit-scrollbar-thumb {
  background: #888;
}
.settings-left::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.settings-left img {
  width: 220px;
}
#settingsTitle {
  width: 220px;
  word-break: break-all;
  font-weight: bold;
}
.settings-right {
  position: absolute;
  top: 0; right: 0;
  padding: 20px;
  width: calc(100vw - 300px);
  height: calc(100vh - 40px);
}
.settings-download {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#settingsChosen {
  word-break: break-all;
  font-family: monospace;
}
#settingsToggle {
  background: #2c2c2c;
  width: 100%;
  padding: 5px;
}
#settingsToggle:hover {
  background: #fff;
}
.settings-vid {
  position: relative;
  padding: 10px;
  cursor: pointer;
}
.settings-vid:nth-child(even) {
  background: #2c2c2c;
}
.settings-vid p {
  max-width: 170px;
  word-break: break-all;
}
.settings-vid i {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  color: #fff;
  transform: translateY(-50%);
}
#settingsThumbs, #settingsVideodata, #settingsSeperate {
  cursor: pointer;
}

/* download */
.video, .queue {
  position: relative;
  margin-bottom: 20px;
}
.video-thumbnail {
  width: 220px;
  display: inline-block;
  vertical-align: text-top;
}
.video-info {
  display: inline-block;
  vertical-align: text-top;
  width: calc(100vw - 280px);
  float: right;
}
.video-info * {
  display: block;
}
.video-title {
  font-size: 24px;
  font-weight: bold;
}
.video-task {
  margin-bottom: 7px;
}
.queue span {
  color: #ccc;
}
.queue img {
  filter: grayscale(100%);
}
.video-bottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100vw - 40px);
}
#videoProgress {
  position: absolute;
  top: 5px;
}
#videoCancel {
  float: right;
}
.video-done {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.video-done-icon {
  font-size: 200px;
}
.video-done span {
  font-size: 24px;
  display: block;
}
#videoOpenFolder {
  margin-top: 5px;
}
